---

---

<section class="font-['Inter'] w-screen h-screen flex justify-center flex-col">
  <div class="ml-[20%] mb-10">
    <h1 class="text-[52px] font-extrabold text-white">Contact me!</h1>
    <p class="text-[24px] font-bold italic text-[#E1364B]">
      Please feel free to reach out! 🚀
    </p>
  </div>
  <div class="flex items-center justify-center w-screen">
    <div
      class="w-[1050px] h-[540px] bg-gradient-to-bl from-rose-900 from-0% to-rose-500 rounded-2xl flex items-center flex-row"
    >
      <div class="flex flex-col justify-center">
        <div class="flex flex-col pl-7 w-[575px]">
          <h1 class="text-[24px] font-medium italic text-white mb-1">
            Your name
          </h1>
          <input class="rounded-lg h-11 w-[100%] mb-2" type="text" />
          <h2 class="text-[24px] font-medium italic text-white mb-1">
            Tell me about your proyect!
          </h2>
          <textarea class="rounded-lg h-28 w-[100%] resize-none mb-2"
          ></textarea>
        </div>
        <button
          class="ml-40 bg-[#241E3D] w-[280px] h-[64px] mt-[40px] skew-x-[-18deg] font-extrabold text-[32px] text-white"
          >SEND!</button
        >
      </div>
      <div class="flex items-center justify-center grow">
        <img class="scale-x-[-1] w-[255px]" src="pfp.png" alt="" />
      </div>
    </div>
  </div>
</section>
