---

---

<section
  class="font-['Inter'] lg:w-screen lg:h-screen flex justify-center content-center flex-row items-center gap-72 max-[1300px]:gap-[10vw] max-[1100px]:flex-col"
>
  <div
    class="lg:flex lg:flex-row lg:gap-[10vw] max-sm:gap-6 max-sm:flex-col max-sm:flex"
  >
    <div class="flex flex-col max-[624px]:ml-4">
      <h1 class="text-white text-[52px] font-extrabold max-[624px]:text-[7vw]">
        Experience
      </h1>
      <div class="border-l-4 border-red-500 flex flex-col gap-10 pl-5">
        <div>
          <h1
            class="text-white text-[24px] font-extrabold max-[624px]:text-[4vw]"
          >
            Ux Ui designer - Codo A Codo 4.0
          </h1>
          <p
            class="text-[#E1364B] text-[18px] font-extrabold max-[624px]:text-[4vw]"
          >
            2022
          </p>
        </div>
        <div>
          <h1
            class="text-white text-[24px] font-extrabold max-[624px]:text-[5vw]"
          >
            SummerHack 2023 - CodeaRock
          </h1>
          <p
            class="text-[#E1364B] text-[18px] font-extrabold max-[624px]:text-[4vw]"
          >
            January 2023 - April 2023.
          </p>
        </div>
        <div>
          <h1
            class="text-white text-[24px] font-extrabold max-[624px]:text-[5vw]"
          >
            Technical Degree in Software Development
          </h1>
          <p
            class="text-[#E1364B] text-[18px] font-extrabold max-[624px]:text-[4vw]"
          >
            April. 2023 - Present.
          </p>
        </div>
        <div>
          <h1
            class="text-white text-[24px] font-extrabold max-[624px]:text-[5vw]"
          >
            Currently working at A3 Sport
          </h1>
          <p
            class="text-[#E1364B] text-[18px] font-extrabold max-[624px]:text-[4vw]"
          >
            Nov. 2023 - Present.
          </p>
        </div>
      </div>
    </div>
    <div class="gap-8 flex flex-col">
      <h1
        class="text-white text-[52px] font-extrabold max-sm:text-[7vw] max-sm:ml-4"
      >
        Technologies
      </h1>
      <div class="max-sm:flex max-sm:justify-center flex justify-center">
        <div
          class="max-sm:mr-[10px] max-sm:ml-[10px] gap-6 flex flex-wrap max-w-80"
        >
          <div class="flex flex-row gap-6">
            <div class="w-1/4">
              <img src="html.svg" alt="Imagen 1" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="css.svg" alt="Imagen 2" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="js.svg" alt="Imagen 3" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="reactjs.svg" alt="Imagen 4" class="w-full" />
            </div>
          </div>
          <div class="flex flex-row gap-6">
            <div class="w-1/4">
              <img src="nextjs.svg" alt="Imagen 1" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="astro.svg" alt="Imagen 2" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="git.svg" alt="Imagen 3" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="github.svg" alt="Imagen 4" class="w-full" />
            </div>
          </div>
          <div class="flex flex-row gap-6">
            <div class="w-1/4">
              <img src="firebase.svg" alt="Imagen 1" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="figma.svg" alt="Imagen 2" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="tailwind.svg" alt="Imagen 3" class="w-full" />
            </div>
            <div class="w-1/4">
              <img src="premiere.svg" alt="Imagen 4" class="w-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
