---

---

<section
  class="font-['Inter'] lg:w-screen lg:h-screen flex justify-center flex-col items-center gap-8 max-sm:mt-12"
>
  <div class="flex justify-start w-[80%] ml-[20%] max-sm:ml-4 max-sm:w-screen">
    <h1
      class="text-white text-[52px] font-extrabold max-sm:text-[7vw] max-sm:ml-[1rem]"
    >
      Proyects
    </h1>
  </div>

  <div
    class="flex flex-wrap w-[90%] justify-center max-w-[1000px] gap-4 max-sm:w-screen"
  >
    <div
      class="max-sm:w-1/3 max-sm:h-1/3 w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img src="car.svg" alt="Imagen 1" class="object-cover w-16 h-16" />
    </div>
    <div
      class="max-sm:w-1/3 max-sm:h-auto w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img src="todo.svg" alt="Imagen 2" class="object-cover w-16 h-16" />
    </div>
    <div
      class="max-sm:w-1/3 max-sm:h-auto w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img src="torta.svg" alt="Imagen 3" class="object-cover w-16 h-16" />
    </div>
    <div
      class="max-sm:w-1/3 max-sm:h-auto w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img src="ip.svg" alt="Imagen 4" class="object-cover w-16 h-16" />
    </div>
    <div
      class="max-sm:w-1/3 max-sm:h-auto w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img src="chat.svg" alt="Imagen 5" class="object-cover w-16 h-16" />
    </div>
    <div
      class="max-sm:w-1/3 max-sm:h-auto w-1/3 max-w-[300px] h-64 p-4 bg-[#1D1D1D] flex items-center justify-center hover:-translate-y-2 hover:translate-x-2 hover:border-l-8 hover:border-b-8 border-[#E1364B] transition-all duration-300 ease-in-out"
    >
      <img
        src="calculadora.svg"
        alt="Imagen 6"
        class="object-cover w-16 h-16"
      />
    </div>
  </div>
</section>
