---

---

<section
  class="font-['Inter'] w-screen h-screen flex justify-center content-center flex-col items-center min-h-screen"
>
  <div
    class="flex content-center justify-center items-center gap-[70px] max-[1200px]:flex-col"
  >
    <img
      class="w-[255px] text-red-500 fill-current p-5"
      src="./pfp.png"
      alt=""
    />

    <div class="flex flex-col">
      <h2
        class="text-[#E1364B] text-[52px] font-extrabold max-[1200px]:text-[32px] max-[600px]:text-[6vw]"
      >
        Hello! I'm
      </h2>
      <h1
        class="text-white text-[64px] font-extrabold italic max-[1200px]:text-[44px] max-[600px]:text-[8vw]"
      >
        ROMÁN VALLES
      </h1>
      <h3
        class="text-[#E1364B] text-[52px] font-extrabold max-[1200px]:text-[32px] max-[600px]:text-[6vw]"
      >
        FRONTEND DEVELOPER
      </h3>
      <h3
        class="text-[#E1364B] text-[52px] font-extrabold max-[1200px]:text-[32px] max-[600px]:text-[6vw]"
      >
        <span
          class="text-white text-[52px] font-extrabold max-[1200px]:text-[32px] max-[600px]:text-[6vw]"
          >&</span
        > UX / UI DESIGNER
      </h3>
    </div>
  </div>

  <button
    class="bg-[#E1364B] w-[348px] h-[80px] mt-[40px] skew-x-[-18deg] font-extrabold text-[32px] max-[600px]:w-[60vw]"
  >
    <span class="text-white max-[600px]:text-[6vw]">CONTACT ME!</span></button
  >
</section>
